body{
    background-color: bisque;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}
.container{
    background-color: yellow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 2.8px 2.2px grey;
    overflow: hidden;
    width: calc(100vm-65vm);
    max-width: 100%;
}